* {
  box-sizing: border-box;
}

body {
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  color: white;
  background-color: white;
  padding: 0;
  position: absolute;
  top: 1%;
  left: 16%;
  width: 66%;
  display: flex;
  justify-content: center;
}

h1 {
  color: #f3fff8;
}

input {
  appearance: none;
  padding: 3px;
  font-size: 1.25rem;
  background-color: white;
  color: #419c67;
  transition: ease-in-out 0.5s;
  border-radius: 8px;
  border: 2px solid #58d68d;
  width: 100%;
}

input:focus {
  border-color: #419c67;
  outline: none;
}

::placeholder {
  color: lightgray;
}

button {
  all: unset;
  padding: 3px;
}

.input-box {
  display: flex;
  width: 100%;
}

ul {
  padding-inline-start: 20px;
}

li {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 3px 0;
  font-size: 1.25rem;
}

#root {
  background: linear-gradient(#58d68d, #58d68d, #419c67);
  border-radius: 10px;
  padding: 20px 15px;
  height: 96vh;
  width: 45%;
}

@media (orientation: portrait) {
  body {
    width: 96%;
    left: 0;
  }
  #root {
    width: 100%;
  }
}